%footer#footer
  #footer-copyright
    .container
      .row
        .col-lg-12.clearfix
          %p.copyright
            Copyright
            ©
            2015 Instagram Search
          .links
            %a.btn.btn-circle.btn-medium-light.btn-sm{:href => "#"}
              %i.fa.fa-twitter.text-dark
            %a.btn.btn-circle.btn-medium-light.btn-sm{:href => "#"}
              %i.fa.fa-google-plus.text-dark
            %a.btn.btn-circle.btn-medium-light.btn-sm{:href => "#"}
              %i.fa.fa-facebook.text-dark