%header#header
  .container
    %nav#nav.navbar.navbar-collapsed-sm.navbar-default{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-header-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => logined? ? search_path : root_path}
          Instagram Search
      .collapse.navbar-collapse.navbar-header-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a{:href => coding_challenge_path}
              %span
                Coding Challenge