#main{:role => "main"}
  #main-content
    .container
      .row-fluid
        .col-sm-12
          %p.lead.lead-lg.text-center Coding Challenge
          %p.lead.lead-lg.text-center Please connect to instagram for using this function.
        .col-md-offset-4.col-sm-4
          %a{:href => '/oauth/connect', :class=> 'btn btn-contrast btn-block'}
            %i.fa.fa-instagram
            Connect with Instagram