#main{:role => "main"}
  #main-content
    .container
      .row-fluid
        %h3.center Please enter information below for search image on instagram
      .row-fluid
        %form.form.form-validation.form-search{:action => search_path, :method => "get", :novalidate => "novalidate"}
          .row
            .col-sm-3
              .form-group.control-group
                %input.form-control{"data-rule-required" => "true", :name => "lat", :placeholder => "Latitude", :type => "text", :value => params[:lat]}/
            .col-sm-3
              .form-group.control-group
                %input.form-control{"data-rule-required" => "true", :name => "lng", :placeholder => "Longitude", :type => "text", :value => params[:lng]}/
            .col-sm-3
              .form-group.control-group
                %input.form-control{:name => "distance", :placeholder => "Distance(default: 1000, maximum: 5000)", :type => "text", :value => params[:distance]}/
            .col-sm-3
              %button.btn.btn-contrast.btn-block.form-search-submit{"data-loading-text" => "<i class='fa fa-refresh fa-spin'></i> Sending...", :type => "submit"}
                %i.fa.fa-search
                Search Post
      .row-fluid
        %h3.center.no-result Not found post! Please choose other information.

    .container
      .row-fluid.search-content
        .col-sm-9
          #map-canvas
        .col-sm-3
          #img-carousel.carousel.slide{"data-ride"=>"carousel"}
            .carousel-inner#img-carousel-inner
            .control-box
              %a.left{"data-slide" => "prev", :href => "#img-carousel"}
                %i.fa.fa-arrow-left
              %a.right{"data-slide" => "next", :href => "#img-carousel"}
                %i.fa.fa-arrow-right
  #scroll-to-top.fade{:style => "bottom: 10px;"}
    %i.fa.fa-chevron-up