@import 'mixins';

.search-content{
  margin: 20px 0px;

  .col-sm-9{
    padding: 0px;
  }

  .col-sm-3{
    padding: 0px;
  }
}

#map-canvas{
  height: 500px;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(34, 35, 35, 0.97);
  @include prefix(border-radius, 10px);
  border: 5px solid;

  .pin{
    position: absolute;
    left: -41px;
    bottom: 0;

    .wrapper{
      padding: 3px;
      background-color: #fff;
      box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
      position: relative;
      z-index: 2;
      @include prefix(border-radius, 3px);

      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 8px;
        margin-left: -8px;
      }
    }

    .small{
      img{
        width: 76px;
        height: 76px;
      }

      .video{
        width: 100%;
        position: absolute;
        top: 30%;
        font-size: 30px;
        text-align: center;
        left: 0px;
        color: #fff;
      }
    }

    .large {
      display: none;
    }

    &.active{
      width: 500px;
      padding: 4px;
      left: -250px;

      .small{
        display: none;

        img{
          display: block;
          @include prefix(border-radius, 3px);
        }
      }

      .large{
        display: block;

        .close{
          position: absolute;
          top: -15px;
          right: -15px;
          width: 30px;
          height: 30px;
          display: block;
          z-index: 99999999;
          color: #fff;
          opacity: 1;
          background: #7bb140;
          padding: 4px 7px;
          @include prefix(border-radius, 50%);
        }
      }

      .image{
        display: block;
        padding: 0px;
        position: relative;

        img{
          width: 100%;
          @include prefix(border-radius, 0);
        }

        a{
          &.arrow{
            position: absolute;
            top: 90px;
            z-index: 200;
            background-color: rgba(255,255,255,0.8);
            display: block;
            width: 32px;
            height: 27px;

            &:hover{
              background-color: rgba(255,255,255,1.0);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #map-canvas .pin.active{
    width: 300px;
    left: -150px;
  }
}