@import 'mixins';

.media-boxes{
  .media-box{
    position: relative;
    margin-top: 20px;
    text-align: center;

    &[data-page]{
      display: none;
    }

    &[data-page="1"]{
      display: block;
    }

    a{
      text-decoration: none;
      display: block;
      @include prefix(transition, color 300ms);

      &.image-link, .image-link{
        overflow: hidden;
        display: block;
        position: relative;
        bottom: 0;
        @include prefix(transition, bottom 300ms);

        &:before{
          content: '';
          background-color: transparent;
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          @include prefix(transition, background-color 300ms);
        }

        .likes{
          display: none;
          position: absolute;
          left: 0;
          top: 45%;
          font-size: 20px;
          color: white;
          text-shadow: 1px 1px 1px black;
          height: 30px;
          width: 100%;
          text-align: center;
          @include prefix(transition, top 300ms);

          i{
            padding: 5px;

            &:before{
              margin-right: 5px;
            }
          }
        }

        .video{
          font-size: 50px;
          color: #fff;
          position: absolute;
          left: 0;
          top: 35%;
          text-shadow: 1px 1px 1px black;
          height: 30px;
          width: 100%;
          text-align: center;
          opacity: 0.9;
          @include prefix(transition, top 300ms);
        }
      }

      .description{
        display: none;
      }

      &:hover{
        &.image-link, .image-link{
          bottom: 5px;

          &:before{
            background-color: #353b47;
            background-color: rgba(53, 59, 71, 0.8);
          }

          [class^="fa-"], [class*=" fa-"], [class*=" fa-"], [class^="fa-"]{
            top: 50%;
          }
        }

        .likes{
          display: block;
        }

        .video{
          opacity: 0.1;
        }
      }
    }
  }
}

.description{
  padding: 10px;

  video{
    vertical-align: middle;
    display: block;
    border: 0;
  }

    .description-header{
      padding: 0px 0px 10px 0px;
      border-bottom: 1px solid #ccc;

      .avatar{
        width: 40px;
        border: 1px solid #ccc;
        margin-right: 5px;
      }

      .user-name{
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
      }

      .location{
        color: #8dc153;
        cursor: pointer;
        min-height: 10px;
      }

      .caption{
        padding: 10px 0px 0px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .description-likes{
      padding: 10px 0px;
      font-size: 15px;

      i{
        padding: 3px;

        &:before{
          margin-right: 5px;
        }
      }
    }

    .description-comments{
      max-height: 180px;
      overflow: auto;
      overflow-x: hidden;

      .comment{
        .user-name{
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
}

#map-canvas{
  height: 500px;
  width: 100%;
  margin-bottom: 20px;

  .pin{
    position: absolute;
    left: -42px;
    bottom: 0;

    .wrapper{
      padding: 3px;
      background-color: #fff;
      box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
      position: relative;
      z-index: 2;
      @include prefix(border-radius, 3px);

      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 8px;
        margin-left: -8px;
      }
    }

    .small{
      img{
        width: 100px;
        height: 100px;
      }

      .video{
        width: 100%;
        position: absolute;
        top: 30%;
        font-size: 30px;
        text-align: center;
        left: 0px;
        color: #fff;
      }
    }

    .large {
      display: none;
    }

    &.active{
      width: 600px;
      padding: 4px;
      left: -154px;

      .small{
        display: none;

        img{
          display: block;
          @include prefix(border-radius, 3px);
        }
      }

      .large{
        display: block;
      }

      .image{
        display: block;
        padding: 0px;
        position: relative;

        img{
          width: 100%;
          @include prefix(border-radius, 0);
        }

        a{
          &.arrow{
            position: absolute;
            top: 90px;
            z-index: 200;
            background-color: rgba(255,255,255,0.8);
            display: block;
            width: 32px;
            height: 27px;

            &:hover{
              background-color: rgba(255,255,255,1.0);
            }
          }

          &.close{
            position: absolute;
            top: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            display: block;
            z-index: 99999999;
            color: #fff;
            opacity: 1;
            background: #7bb140;
            padding: 4px 7px;
            @include prefix(border-radius, 50%);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #map-canvas .pin.active{
    width: 300px;
  }
}
