/* Carousel Control */
@import 'mixins';

.control-box {
  text-align: center;
  width: 100%;
  margin: 15px;
  position: absolute;
  bottom: 0px;

  a{
    color: #8dc153;
    font-size: 20px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid;
    @include prefix(border-radius, 5px);
    margin: 10px;

    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }
}

#img-carousel{
  display: none;
  min-height: 500px;

  .thumbnails{
    list-style: none;

    .image-slider{
      .thumbnail{
        .video{
          position: absolute;
          font-size: 40px;
          color: #fff;
          width: 70%;
          top: 15%;
          text-align: center;
        }
      }

      &.active{
        .thumbnail{
          border-color: #8dc153;
        }
      }
    }
  }
}